<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.mydns.dego.motionchecker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".InstanceHolder"
        android:allowBackup="false"
        android:icon="@mipmap/motion_checker"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/motion_checker_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="ftp" />
                <data android:scheme="ftps" />
                <data android:scheme="sftp" />
                <data android:scheme="content" />
                <data android:scheme="smb" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>